﻿@using ButterfliesShop.Models
@model List<Butterfly>
@{
    Layout = null;
}

@foreach (var item in Model)
{
<div class="photo-index-card">
    @if (item.ImageName != null)
    {
        <div class="photo-display">
            <img class="photo-display-img" src=@Url.Action("GetImage", "Butterfly", new { Id = item.Id }) alt="Alternate Text" />
        </div>
    }
    <h3>@Html.DisplayFor(modelItem => item.CommonName)</h3>
    <div>
        <p>@Html.DisplayNameFor(model => item.ButterflyFamily)</p>
        <br />
        <p>@Html.DisplayFor(model => item.ButterflyFamily)</p>
        <div>
            <p>@Html.DisplayNameFor(modle => item.Characteristics)</p>
            <p> @Html.DisplayFor(Model => item.Characteristics)</p>
        </div>
        <div>
            <p>@Html.DisplayNameFor(modle => item.Quantity)</p>
            <p> @Html.DisplayFor(Model => item.Quantity)</p>
        </div>
        <div>
            <p>@Html.DisplayNameFor(modle => item.CreatedDate)</p>
            <p> @Html.DisplayFor(Model => item.CreatedDate)</p>
        </div>
    </div>
</div>
}
