﻿@model IceCreamCompany.Models.Customer;
@{
    ViewData["Title"] = "Buy";
}

<div class="container">
    <h1>Choose Your Flavor</h1>
    <div class="checkout">
        <div class="row justify-content-center intro-row">
            <div class="col-4">
                Ice Cream Flavors
            </div>
            <div class="col-2">
                Buy Bulk(lbs)
            </div>
            <div class="col-2">
                Total Amount
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <select class="form-control" id="flavor">
                    <option>Select</option>
                    <option>Vanilla Ice Cream with Caramel Ripple and Almonds</option>
                    <option>Vanilla Ice Cream with Cherry Dark Chocolate Ice Cream</option>
                    <option>Vanilla Ice Cream with Pistachio</option>
                </select>
            </div>
            <div class="col-2">
                <select class="form-control" id="quantity">
                    <option>1</option>
                    <option>1.5</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-2" id="totalAmount">
                <div class="col-2">
                    <div>
                        <img class="imageDisplay" id="iceCreamImage" src="#" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-5">
        <form asp-action="Buy" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="FirstName" placeholder="First Name" required type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="LastName" placeholder="Last Name" required type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Address" placeholder="Address" required type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Email" placeholder="email@example.com" required type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PhoneNumber" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="PhoneNumber" placeholder="Phone Number" required type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button id="formButton" type="submit" class="btn btn-outline-primary">
                        Make a Purchase
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div asp-validation-summary="All"></div>
</div>
