﻿@using ButterfliesShop.Models
@model ButterfliesShop.Models.Butterfly
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link type="text/css" rel="stylesheet" href="~/css/butterflies-shop-styles.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="main-title">Add Butterflies to the Shop</h1>
        <div id="divloading"></div>

        <form asp-action="Create" method="post" data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#content"
              data-ajax-loading="#divloading"
              data-ajax-success="Success"
              data-ajax-failure="Failure"
              enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="form-field">
                <label asp-for="CommonName"></label>
                <input asp-for="CommonName" />
                <span asp-validation-for="CommonName"> </span>
            </div>
            <div class="form-field">
                <label asp-for="ButterflyFamily"></label>
                <select asp-for="ButterflyFamily" asp-items="Html.GetEnumSelectList<Family>()">
                    <option selected="selected" value=""> Select </option>
                </select>
                <span asp-validation-for="ButterflyFamily"></span>
            </div>
            <div class="form-field">
                <label asp-for="Characteristics"></label>
                <TEXTAREA asp-for="Characteristics"></TEXTAREA>
                <span asp-validation-for="Characteristics"></span>
            </div>
            <div class="form-field">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" />
                <span asp-validation-for="Quantity"></span>
            </div>
            <div class="form-field">
                <label asp-for="PhotoAvatar"></label>
                <input asp-for="PhotoAvatar" />
                <span asp-validation-for="PhotoAvatar"></span>
            </div>
            <div class="form-field">
                <input type="submit" value="Submit" />
            </div>
            
        </form>
    </div>
    <div id="content"></div>
</body>
</html>
