﻿@model ButterfliesShop.Models.IndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/butterflies-shop-styles.css" />
</head>
<body>
    <div class="container">
        <h1 class="main-title">Butterfiles Shop</h1>
        <p class="into">Welcome to our Web Store, Enjoy a Wide Variety of Butterflies</p>
        <p class="into">Our Butterflies in the Shop</p>
        <button type="button" onclick="location.href='@Url.Action("Create", "Butterfly")'"> Add Butterflies </button>
        <div class="img-container">
            @foreach (var item in Model.Butterflies)
            {
                <div class="photo-index-card">
                    <h3>@Html.DisplayFor(modelItem => item.CommonName)</h3>
                    @if (item.ImageName != null)
                    {
                        <div class="photo-display">
                            <img class="photo-display-img" src=@Url.Action("GetImage", "Butterfly", new { Id = item.Id }) alt="Alternate Text" />
                        </div>
                    }
                    <div>
                        <p class="display-label">@Html.DisplayNameFor(model => item.ButterflyFamily)</p>
                        <br />
                        <p class="display-field">@Html.DisplayFor(model => item.ButterflyFamily)</p>
                        <div class="display-info">
                            <p class="display-label">@Html.DisplayNameFor(modle => item.Characteristics)</p>
                            <p class="display-field"> @Html.DisplayFor(Model => item.Characteristics)</p>
                        </div>
                        <div>
                            <p class="display-label">@Html.DisplayNameFor(modle => item.Quantity)</p>
                            <p class="display-field"> @Html.DisplayFor(Model => item.Quantity)</p>
                        </div>
                        <div>
                            <p class="display-label">@Html.DisplayNameFor(modle => item.CreatedDate)</p>
                            <p class="display-field"> @Html.DisplayFor(Model => item.CreatedDate)</p>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</body>
</html>


