﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/css/zoo-style.css" rel="stylesheet" type="text/css" />
    <script src="~/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/menubar-functions.js"></script>
    <script src="~/js/slider-functions.js"></script>
</head>
<body>
    <ul class="nav">
        <li> <a href="@Url.Action("Index","Zoo")">Attractions</a></li>
        <li> <a href="@Url.Action("VisitorDetails", "Zoo")">Visitor Info</a></li>
        <li> <a href="@Url.Action("BuyTickets", "Zoo")">Tickets</a></li>
    </ul>
    <div class="header-container">
        <h1 class="content">Welcome to Zoo Center</h1>
        <div class="slider-buttons">
            <img src="~/images/prevArrow.png" class="prev" onclick="nextImage()" />
        </div>
    </div>
    @RenderBody()
    @RenderSection("Scripts",false)
</body>
</html>